@charset "utf-8";
/*文字コード*/

body {
  margin: 0;
  padding: 0;
  /*ブラウザごとの初期値を解除*/
  background: linear-gradient(180deg, #40C7FF 0%, #FFFFFF 100%);
  background-repeat: no-repeat;
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;  
}

body::-webkit-scrollbar {
  display: none;
}

/* 旅する衣ロゴ */

.logo {
  padding: 5px 0px;
}

.title {
  text-decoration: none;
  color: white;
  position: relative;
  left: 40px;
  z-index: 1;
  letter-spacing: 2px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.title2 {
  text-decoration: none;
  color: #2BBF00;
  position: absolute;
  left: 40px;
  letter-spacing: 2px;
  top: 10px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.tabi {
  display: inline-block;
  font-size: 70px;
  position: relative;
  top: 5px;
  transform: rotate(12deg);
  margin: 0px 5px;
}

.title_text {
  font-size: 35px;
}

.title_koromo {
  position: relative;
  font-size: 20px;
}

.title_koromo2 {
  position: relative;
  font-size: 20px;
  bottom: 1.5px;
}

/* ハンバーガーメニュー */

nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.78);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  opacity: 1;
  width: 370px;
  z-index: 10;
}

nav .inner {}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  top: 80px;
  letter-spacing: 0.5px;
}

nav .inner ul li a {
  display: block;
  font-size: 22px;
  margin: 3em 1.5em;
  text-decoration: none;
  transition-duration: 0.2s;
}

/*============
  .toggle_btn
  =============*/

.toggle_btn1 {
  display: block;
  position: absolute;
  top: 55px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 10;
  margin-right: 25px;
}

.toggle_btn1 span {
  display: block;
  position: absolute;
  left: 0;
  width: 35px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  transition: all .5s;
  border: 1px solid black;
}

.toggle_btn1 span:nth-child(1) {
  top: 2px;
  height: 4px;
}

.toggle_btn1 span:nth-child(2) {
  top: 12px;
  height: 4px;
}

.toggle_btn1 span:nth-child(3) {
  bottom: 2px;
  height: 4px;
}

.open .toggle_btn1 span {
  background-color: black;
}

.open .toggle_btn1 span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
  height: 5px;
  background-color: #2BBF00;
  top: 3px;
  border: none;
}

.open .toggle_btn1 span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn1 span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
  height: 5px;
  top: 23px;
  background-color: #2BBF00;
  border: none;
}

.toggle_btn2 {
  display: block;
  position: absolute;
  top: 58px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 9;
  margin-right: 25px;
}

.toggle_btn2 span {
  display: block;
  position: absolute;
  left: 0;
  width: 35px;
  height: 3px;
  background-color: #2BBF00;
  border-radius: 4px;
  transition: all .5s;
  border: 1px solid black;
}

.toggle_btn2 span:nth-child(1) {
  top: 3px;
  height: 3px;
}

.toggle_btn2 span:nth-child(2) {
  top: 13px;
  height: 3px;
}

.toggle_btn2 span:nth-child(3) {
  bottom: 2px;
  height: 3px;
}

.open .toggle_btn2 span {
  opacity: 0;
}

.open .toggle_btn2 span:nth-child(1) {
  opacity: 0;
}

.open .toggle_btn2 span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn2 span:nth-child(3) {
  opacity: 0;
}

/* ハンバーガーメニュー見出し */

.illust a {
  position: absolute;
  color: #40C7FF;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  transition: all 0.2s;
  top: -67px;
}

.illust a:hover {
  transform: translate(0px, 3.5px);
  /* transform: scale(1.1, 1.1); */
}

.illust2 a {
  position: relative;
  color: white;
  top: 2.5px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.about a {
  position: absolute;
  color: #2BBF00;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  top: -67px;
  transition: all 0.2s;
}

.about a:hover {
  transform: translate(0px, 3.5px);
  /* transform: scale(1.1, 1.1); */
}

.about2 a {
  position: relative;
  color: white;
  top: 2.5px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.create a {
  position: absolute;
  color: #B479FF;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  top: -67px;
  transition: all 0.2s;
}

.create a:hover {
  transform: translate(0px, 3.5px);
  /* transform: scale(1.1, 1.1); */
}

.create2 a {
  position: relative;
  color: white;
  top: 2.5px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.contact a {
  position: absolute;
  color: #FF0033;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  top: -67px;
  transition: all 0.2s;
}

.contact a:hover {
  transform: translate(0px, 3.5px);
  /* transform: scale(1.1, 1.1); */
}

.contact2 a {
  position: relative;
  color: white;
  top: 2.5px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

.spt a {
  position: absolute;
  color: #ffa500;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  top: -67px;
  transition: all 0.2s;
}

.spt a:hover {
  transform: translate(0px, 3.5px);
  /* transform: scale(1.1, 1.1); */
}

.spt2 a {
  position: relative;
  color: white;
  top: 2.5px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
}

/* コンテンツ */

#midasi_big {
  display: flex;
  position: relative;
  left: 130px;
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  z-index: 1;
  letter-spacing: 2px;
}

.info {
  color: #2BBF00;
  position: relative;
  top: 5px;
}

.info2 {
  color: white;
  position: absolute;
}

#porigon1 {
  width: 630px;
  height: 450px;
  border-radius: 21% 79% 77% 23% / 51% 51% 49% 49%;
  /* 左上、右上、右下、左下 */
  background: #EFFFE9;
  position: absolute;
  left: 100px;
  top: 300px;
  transform: rotate(332deg);
  z-index: -2;
}

#midasi {
  text-align: center;
}

.org {
  position: relative;
  color: #2BBF00;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  font-size: 22px;
  left: 200px;
  top: 90px;
  letter-spacing: 1px;
}

.org2 {
  position: relative;
  color: white;
  bottom: 70px;
}

.isenti {
  text-align: left;
  position: relative;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  left: 300px;
  bottom: -30px;
  letter-spacing: 1px;
  font-weight: bold;
}

#porigon2 {
  width: 630px;
  height: 450px;
  border-radius: 21% 79% 77% 23% / 51% 51% 49% 49%;
  /* 左上、右上、右下、左下 */
  background: #2EC4B6;
  position: absolute;
  right: 60px;
  top: 525px;
  transform: rotate(15deg);
  z-index: -1;
}

.people {
  position: relative;
  color: #2BBF00;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  font-size: 22px;
  right: 450px;
  top: 80px;
  letter-spacing: 1px;
}

.people2 {
  position: relative;
  color: white;
  bottom: 69px;
}

.name {
  position: relative;
  text-align: left;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  left: 800px;
  bottom: -10px;
  font-weight: bold;
}

#porigon3 {
  width: 630px;
  height: 450px;
  border-radius: 85% 15% 62% 38% / 46% 22% 78% 54%;
  background: #40C7FF;
  position: absolute;
  transform: rotate(358deg);
  z-index: -1;
  bottom: 1px;
  left: 30px;
}

.esta {
  position: relative;
  color: #2BBF00;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  font-size: 22px;
  left: 200px;
  top: 100px;
  letter-spacing: 1px;
}

.esta2 {
  position: relative;
  color: white;
  bottom: 70px;
}

.date {
  text-align: left;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  left: 325px;
  bottom: -40px;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
}

#porigon4 {
  /* 50% 50% 51% 49% / 16% 18% 82% 84%  */
  width: 600px;
  height: 390px;
  border-radius: 18% 82% 85% 15% / 84% 77% 23% 16%;
  background: #FFD600;
  position: absolute;
  transform: rotate(200deg);
  z-index: -2;
  right: 180px;
  bottom: -120px;
}

.add {
  position: relative;
  color: #2BBF00;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  font-size: 22px;
  right: 450px;
  top: 50px;
  letter-spacing: 1px;
}

.add2 {
  position: relative;
  color: white;
  bottom: 70px;
}

.address {
  text-align: left;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000, -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  position: relative;
  left: 800px;
  bottom: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -195px;
}

small {}

/* レスポンシブPCファースト */

@media (min-width: 1024px) and (max-width: 1279px) {
  /* iPad Pro用 */
  .title {
    left: 30px;
  }
  .title2 {
    left: 30px;
  }
  .toggle_btn1 {
    right: 20px;
  }
  .toggle_btn2 {
    right: 20px;
  }
  #porigon1 {
    width: 530px;
    height: 350px;
  }
  .org {
    left: 165px;
    top: 55px;
  }
  .isenti {
    left: 240px;
    bottom: 13px;
  }
  #porigon2 {
    width: 530px;
    height: 350px;
  }
  .people {
    top: 45px;
    right: 365px;
  }
  .name {
    bottom: 25px;
    left: 645px;
  }
  #porigon3 {
    width: 530px;
    height: 350px;
    bottom: 40px;
  }
  .esta {
    top: 105px;
    left: 150px;
  }
  .date {
    left: 305px;
    bottom: -40px;
  }
  #porigon4 {
    width: 530px;
    height: 350px;
    bottom: -90px;
  }
  .add {
    right: 372px;
    top: 52px;
  }
  .address {
    left: 623px;
    bottom: 20px;
  }
  footer {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* iPad用 */
  .title {
    left: 30px;
  }
  .tabi {
    font-size: 65px;
  }
  .title2 {
    left: 30px;
  }
  .toggle_btn1 {
    right: 10px;
    top: 50px;
  }
  .toggle_btn2 {
    right: 10px;
    top: 52px;
  }
  #midasi_big {
    left: 100px;
  }
  #porigon1 {
    width: 530px;
    height: 350px;
    left: -25px;
  }
  .org {
    left: 38px;
    top: 55px;
  }
  .isenti {
    left: 97px;
    bottom: 20px;
  }
  #porigon2 {
    width: 530px;
    height: 350px;
    right: -25px;
  }
  .people {
    top: 45px;
    right: 280px;
  }
  .name {
    bottom: 25px;
    left: 475px;
  }
  #porigon3 {
    width: 530px;
    height: 350px;
    bottom: 40px;
    left: -25px;
  }
  .esta {
    top: 105px;
    left: 90px;
  }
  .date {
    left: 247px;
    bottom: -40px;
  }
  #porigon4 {
    width: 530px;
    height: 350px;
    bottom: -90px;
    right: -25px;
  }
  .add {
    right: 160px;
    top: 52px;
  }
  .address {
    left: 562px;
    bottom: 20px;
  }
  footer {
    padding-bottom: 10px;
  }
}

@media screen and (max-width:767px) {
  /* スマホ向け表示 */
  .title {
    left: 10px;
    letter-spacing: 0px;
    top: 2px;
  }
  .tabi {
    font-size: 35px;
    top: 3px;
  }
  .title_text {
    font-size: 16px;
  }
  .title_koromo {
    font-size: 12px;
    top: 0;
  }
  .title_koromo2 {
    font-size: 12px;
    bottom: 1px;
  }
  .title2 {
    left: 10px;
    letter-spacing: 0px;
  }
  .toggle_btn1 {
    top: 23px;
    right: -15px;
  }
  .toggle_btn1 span {
    width: 25px;
  }
  .toggle_btn2 {
    top: 25px;
    right: -15px;
  }
  .toggle_btn2 span {
    width: 25px;
  }
  .open nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .inner ul li {
    top: 80px;
  }
  #midasi_big {
    font-size: 20px;
    left: 25px;
    letter-spacing: 1px;
  }
  #porigon1 {
    width: 338px;
    height: 235px;
    left: -18px
  }
  .org {
    left: 28px;
    top: 128px;
    font-size: 15px;
  }
  .org2 {
    bottom: 48px;
  }
  .isenti {
    font-size: 13px;
    left: 65px;
    top: 83px;
  }
  #porigon2 {
    width: 338px;
    height: 235px;
    right: -48px;
  }
  .people {
    right: 145px;
    top: 190px;
    font-size: 15px;
  }
  .people2 {
    bottom: 48px;
  }
  .name {
    left: 230px;
    top: 148px;
    font-size: 13px;
  }
  #porigon3 {
    width: 338px;
    height: 235px;
    bottom: -148px;
    left: -88px;
  }
  .esta {
    left: 18px;
    top: 245px;
    font-size: 15px;
  }
  .esta2 {
    bottom: 48px;
  }
  .date {
    left: 85px;
    top: 210px;
    font-size: 13px;
  }
  #porigon4 {
    width: 338px;
    height: 235px;
    bottom: -255px;
    right: 1px;
  }
  .add {
    right: 107px;
    font-size: 15px;
    top: 240px;
  }
  .add2 {
    bottom: 48px;
  }
  .address {
    font-size: 13px;
    left: 230px;
    top: 190px;
  }
  footer {
    bottom: -295px;
    font-size: 10px;
  }
}